<html layout:decorator="layout">

<div layout:fragment="content">

    <h1 align="center">All books</h1>

    <a class="btn btn-primary" href="/books/new">Add new book</a>


    <table class="table table-striped">
        <thead>

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>

        </tr>

        </thead>
        <tbody>

        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td>
                <a th:href="@{'/books/{id}/delete'(id=${book.id})}" class="delete" th:attr="name=${book.name}">
                            <span class="fa-stack">
                                <i class="glyphicon glyphicon-trash"></i>
                            </span>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</html>