<html layout:decorator="layout"  xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <form action="#" th:action="@{/book/createBook}" th:object="${book}" method="post">
        <table class="table table-striped">
            <tr>
                <td>Name: </td>
                <td><input type="text" th:field="*{name}"/></td>

            </tr>
            <tr>
                <td>Author: </td>
                <td><input type="text" th:field="*{author}"/></td>

            </tr>


            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </table>

    </form>

</div>
</html>